<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Job Scam Detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1>Fake Job Scam Detector</h1>
    <p class="subtitle">AI-powered job authenticity checker</p>

    <form method="POST">
        <textarea 
            name="job_text" 
            placeholder="Paste job description here..." 
            required></textarea>

        <button type="submit">Analyze Job</button>
    </form>

    {% if prediction %}
    <div class="result">
        <h2>{{ prediction }}</h2>

        <div class="progress-bar">
            <div 
                class="progress" 
                style="width: {{ probability }}%;">
            </div>
        </div>

        <p class="confidence">
            Confidence: {{ probability }}%
        </p>
    </div>
    {% endif %}
</div>

</body>
</html>
